/***************************
GENERAL
***************************/


body{
	font-family: 'Open San', sans-serif;
}

#wrapper {
	max-width: 940px;
	margin: 0 auto;
	padding: 0 5%;
	/*background: yellow;*/	
}

a {
    text-decoration: none;
}


/***************************
NAVIGATION
***************************/

nav {
	text-align: center;
	/*padding: 10px 0;*/
	margin: 20px 0 0;
}

nav ul {
	list-style: none; /*making sure that no bullet points*/
	margin: 0 10px;
	padding: 0;
}

nav li {
	display: inline-block;
	padding: 10px 0; /*replaced what's inside the "nav" selector*/
}

nav a {
	font-weight: 800;
	padding: 15px 10px; /* links will be more clickable bec of padding */
}


/***************************
HEADING
***************************/

header {
	float: left;
	margin: 0 0 30px 0;
	padding: 5px 0 0 0;
	width: 100%; /*to stretch it out the whole page*/
}
#logo {
    text-align: center;
    margin: 0;
}

h1 {
	font-family: 'Changa One', sans-serif;
	margin: 15px 0;
	font-size: 1.75em;
	font-weight: normal;
	line-height: 0.8em;
}

h2 {
	font-size: 0.75em;
	margin: -5px 0 0;
	font-weight: normal;
}

img {
	max-width: 100%;
}

h3 {
	margin: 0 0 1em 0; /*removes default margin value - fix for the issue where there's a white on top of the header*/
	/*https://teamtreehouse.com/library/how-to-make-a-website/styling-web-pages-and-navigation/build-navigation-with-unordered-lists*/
}

/***************************
FOOTER
***************************/
footer {
	font-size: 0.75em;
	text-align: center;
	clear: both;
	padding-top: 50px;
	color: #ccc;
}

.social-icon {
	width: 20px;
	height: 20px;
	margin: 0 5px;
}


/***************************
PAGE: PORTFOLIO
***************************/
#gallery {
	margin: 0;
	padding: 0;
	list-style: none; /*removes bullet points of list items */
}

/*this Part of code made the Pictures into 2 columns */
#gallery li {
	float: left;
	width: 45%; /* 45% of its parent #wrapper which has 940px */
	margin: 2.5%;
	background-color: #f5f5f5; /*For backgroudn of pic and its text */
	color: #bdc3c7; /*color will only be seen if it's not linked, since it is linked, you will "always" see green*/
}

#gallery li a p {
	margin: 0; /*remove paragraph's default margins*/
	padding: 5%;
	font-size: 0.75em;
	color: #bdc3c7; /*whether it's linked or unlinked, it will show this color*/
}

/***************************
PAGE: ANIME
***************************/

/***************************
PAGE: MOVIE
***************************/

/***************************
PAGE: CONTACT
***************************/
.contact-info {
	list-style: none;
	margin: 0;
	padding: 0;
	font-size: 0.9em;
}

.contact-info a {
	display: block;
	min-height: 20px;
	background-repeat: no-repeat;
	background-size: 20px 20px;
	padding: 0 0 0 30px;
	margin: 0 0 10px;
}

.phone a {
	background-image: url('../img/phone.png');
}

/*parang same lang sa .mail a {}??? */
.mail a { 
	background-image: url('../img/mail.png');
}

/***************************
COLORS
***************************/
/* site body */
body {
    background-color: #fff;
    color: #999 /*change text color of body*/
}

/* green header */
header {
	background-color: #6ab47b;
	border-color: #599a68;
}

/* nav background on mobile */
nav {
    background: #599a68;
}

/* logo text */
h1, h2 {
	color: #fff;
}

/* links */
a {
    color: #6ab47b;
}


/* nav link */
nav a, nav a:visited {
	color: #fff;
}

/* selected nav link */
nav a.selected, nav a:hover {
	color: #32673f;
}
